body{
	margin:0;
	padding:0;
	
}
.container{
	background:rgba(0,0,0,0.7) url(../images/main-bg.jpg);
	font-size:12px;
	overflow-x:hidden;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-repeat:no-repeat;
	position: absolute;
	padding-top: 100px;
}
#mainDiv{
	width:100%;
	background:rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 5px; 
	padding-top: 15%;
}
#loveHeart{/*float:left;width:670px;height:625px*/}
#garden{
	width:0;
	height:100%;
}
#elapseClock{
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
}
#words{
	font-family:"sans-serif";
	font-size:24px;
	color:#30b9b2;
}
#messages{   
 	margin-left: auto;
    margin-right: auto;
    width: 500px;
}
#elapseClock .digit{
	font-size:36px;
}
#loveu{
	padding:5px;
	font-size:22px;
	margin-top:80px;
	margin-right:120px;
	text-align:right;
	display:none;
}
#loveu .signature{
	margin-top:10px;
	font-size:20px;
	font-style:italic;
}
#clickSound{display:none}
#code{
	float:left;
	width:440px;
	display: none;
	height:400px;
	color:#333;
	font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
	font-size:12px;
}
#code .string{color:#2a36ff}
#code .keyword{
	color:#7f0055;
	font-weight:bold;
}
#code .placeholder{margin-left:15px}
#code .space{margin-left:7px}
#code .comments{color:#3f7f5f}
#copyright{
	margin-top:10px;
	text-align:center;
	width:100%;
	color:#666;
}
#errorMsg{
	width:100%;
	text-align:center;
	font-size:24px;
	position:absolute;
	top:100px;
	left:0;
}
#copyright a{color:#666}
@media (max-width: 500px) {
  .container{
    font-size: 16px ;
  }
  #elapseClock {font-size: 14px ;}
  #elapseClock .digit{
	font-size:26px;
}
}